{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 p-4 mb-4 mx-3 rounded custom-shadow">
                <h2 class="text-center mb-4">Восстановление пароля</h2>
                <form method="post">
                    {% csrf_token %}
                    
                        <input type="hidden" name="next" value={{next}}>

                    <div class="mb-3">
                        <label for="id_email" class="form-label">E-mail для сброса</label>

                        <input type="email" class="form-control" autocomplete="email"
                        value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                        name="email" id="id_email"
                        placeholder="Введите ваш E-mail"
                        required>
                        {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-dark btn-block">Сбросить пароль по E-mail</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

