{% load cache %}

<div class="accordion" id="accordionPanelsStayOpenExample">

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Категории товаров
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
          
          <div class="list-group">

            {% cache 60 catalog_categories %}


              {% if category_slug == 'all' %}
                  <a href="{% url 'prices' supplier_slug 'all' %}" class="list-group-item list-group-item-action active" aria-current="true">
                          Все категории
                  </a>
              {% else %}
                  <a href="{% url 'prices' supplier_slug 'all' %}" class="list-group-item list-group-item-action">Все категории</a>
              {% endif %}
          
              {% for cat in cat_db %}
                  {% if category_slug == cat.slug %}
                  <a href="{% url 'prices' supplier_slug cat.slug %}" class="list-group-item list-group-item-action active" aria-current="true">
                      {{ cat.name }}
                  </a>
                  {% else %}
                      <a href="{% url 'prices' supplier_slug cat.slug %}" class="list-group-item list-group-item-action">{{ cat.name }}</a>
                  {% endif %}
              {% endfor %}

            {% endcache %}
          </div>

      </div>
    </div>
  </div>
 
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Категории поставщиков
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">

          <div class="list-group">

            {% cache 60 catalog_suppliers %}

              {% if supplier_slug == 'all' %}
                  <a href="{% url 'prices' 'all' category_slug %}" class="list-group-item list-group-item-action active" aria-current="true">
                          Все категории
                  </a>
              {% else %}
                  <a href="{% url 'prices' 'all' category_slug %}" class="list-group-item list-group-item-action">Все категории</a>
              {% endif %}
          
              {% for sup in sup_db %}
                  {% if supplier_slug == sup.slug %}
                  <a href="{% url 'prices' sup.slug category_slug %}" class="list-group-item list-group-item-action active" aria-current="true">
                      {{ sup.name }}
                  </a>
                  {% else %}
                  <a href="{% url 'prices' sup.slug category_slug %}" class="list-group-item list-group-item-action">{{ sup.name }}</a>
                  {% endif %}
          
              {% endfor %}

            {% endcache %}

          </div>

      </div>
    </div>
  </div>

</div>


